<template>
  <v-app>
    <v-row>
      <v-col
        cols="7"
        class="primary d-none d-md-flex justify-center align-center"
      >
        <v-container>
          <v-row class="justify-center">
            <v-col cols="8">
              <h2 class="display-1 white--text font-weight-medium">
                Простое решение для создания промышленных отчетов
              </h2>
              <h6 class="subtitle-1 white--text mt-4 mb-4 op-5 font-weight-regular">
                Gik Report позволяет пользователю настраивать и просматривать
                страницы с историческими данными тенологического процесса.
              </h6>
              <v-btn outlined x-large color="white"> Подробнее </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col class="d-flex justify-center align-center">
        <v-container>
          <v-row class="justify-center">
            <v-col cols="8">
              <h2 class="display-1 font-weight-medium">Войти</h2>
              <h6 class="subtitle-1 mb-4 op-5 font-weight-regular">
                Нет учетной записи?
                <router-link to="/register" class="link">
                  Зарегистрироваться
                </router-link>
              </h6>
              <v-form class="mt-5" lazy-validation>
                <v-text-field
                  outlined
                  required
                  label="Email"
                  :rules="emailRules"
                  v-model="form.email"
                ></v-text-field>
                <v-text-field
                  outlined
                  required
                  label="Пароль"
                  counter="10"
                  :rules="pwdRules"
                  v-model="form.pwd"
                ></v-text-field>
                <div class="d-flex align-center">
                  <v-checkbox
                    label="Запомнить меня?"
                    v-model="form.isRemember"
                  ></v-checkbox>
                  <router-link to="/restore-password" class="link ml-auto">
                    Забыли пароль?
                  </router-link>
                </div>
                <v-btn block elevation="1" color="primary" @click="submit">
                  ВОЙТИ
                </v-btn>
                <v-btn text block class="mt-3" href="/auth/google">
                  Войти c помощью Google
                </v-btn>
              </v-form>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
        pwd: "",
        isRemember: false,
      },
      emailRules: [
        (v) => !!v || "E-mail обязательное поле",
        (v) => /.+@.+\..+/.test(v) || "E-mail не валиден",
      ],
      pwdRules: [
        (v) => !!v || "Пароль обязательное поле",
        (v) => v.length > 2 || "Пароль должен состоять минумум из 3-х символов",
        (v) =>
          v.length < 11 || "Пароль должен состоять максимум из 10 символов",
      ],
    };
  },
  methods: {
    submit() {},
  },
};
</script>

<style lang="scss" scoped>
.link {
  text-decoration: none;
}
</style>
